<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>سایت خرید و فروش بدخشان|</title>
	<!-- start styles and css -->
	<link rel="stylesheet" href="css/bootstrap-rtl.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/jquery.bxslider.css">
	<link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="preloader">
		<div class="loading-icon"></div>
	</div>
	<!-- Start Header -->
	<div class="header">
		<div class="container header-container">
			<div class="row">
				<!-- Start logo -->

				<!-- End site-logo-->
				<!-- Start nav-container -->
				<div class="col-md-5 nav-container text-center">
					<ul class="navigation">
						<li><a href="#section-home">خانه</a></li>
						<li><a href="#section-about">درباره ما</a></li>
						<li><a href="#section-contact">ارتباط با ما</a></li>
					</ul>
				</div>
				<!-- End nav-container -->
				<div class="col-md-3 social-container text-center">
					<ul class="socials">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<!-- End social-container -->
			</div>
			<!-- End Row -->
		</div>
		<!-- End container -->
	</div>
	<!-- End header -->

	<!-- Start section-home -->
	<section id="section-home" class="home-wrap">
		<div class="home-overlay"></div>
		<div class="container">
			<!-- Start counter -->
			<div class="col-md-12 counter-wrap text-center">
				<div class="counter">
					<div class="tdsdime"></div>
				</div>
			</div>
			<!-- Start counter -->
		</div>
		<!-- End container -->

		<!-- Start banner-wrap -->
		<div class="banner-wrap">
			<div class="container banner-container">
				<div class="row">
					<!-- Start banner-right -->
					<div class="col-md-6 banner-right text-center">
						<h2 class="welcome-text"> بهترین اجناس <span> را از ما بخرید </span></h2>
						<span class="subtitle">هر روز یک موفقیت برای ما</span>
					</div>
					<!-- End banner-right -->

					<!-- Start banner-left -->
					<div class="col-md-6 banner-left text-center">
						<h4 class="newsletter-title">برای ثبت نام ثبت نام کنید<span> ثبت نام کنید</span></h4>
						<!-- Start mailchimp form -->
						<form id="mailchimp-form">
							<div class="email-input">
								<input id="mailchimp-input" type="email" placeholder="ایمیل خود را اینجا بنویسید">
								<button class="email-submit" type="submit"><i class="fa fa-sign-in"></i></button>
							</div>
						</form>
						<!-- End mailchimp form -->
						<div class="subscription-success"></div>
						<div class="subscription-failed"></div>
					</div>
					<!-- End banner-left -->
				</div>
				<!-- End row -->
			</div>
			<!-- End banner-container -->
		</div>
		<!-- End banner-wrap -->
	</section>
	<!-- End section-home -->

	<!-- Start section-about -->
	<section id="section-about" class="about-wrap">
		<div class="container">
			<div class="row">
				<!-- Start section-title -->
				<div class="col-md-12 section-title">
					<h3 class="black-border">
						<span class="red-border">درباره ما و</span><span class="red-bold"> ویژگی ها</span>
					</h3>
				</div>
				<!-- End section-title -->

				<div class="col-md-6">
					<!-- Start image-slider -->
					<div class="image-slider">
						<ul class="slider">
							<li><img src="pics/1.jpg" alt=""></li>
							<li><img src="pics/2.jpg" alt=""></li>
							<li><img src="pics/3.jpg" alt=""></li>
						</ul>
					</div>
					<!-- End image-slider -->
				</div>

				<div class="col-md-6">
					<!-- Start tab-container -->
					<div class="tab-container">
						<!-- Start tab-nav -->
						<ul class="tab-nav">
							<li class="tab-selected"><a href="#one">درباره ما</a></li>
							<li><a href="#two">ویژگی ها</a></li>

						</ul>
						<!-- End tab-nav -->

						<!-- Start Tab -->
						<div class="tab one">
							<h4>من منصور بدخشان هستم</h4>
							<p>طراح و سازنده و مدیر سایت</p>
							<!-- Start list-items -->
							<ul class="list-items">
								<li><span class="fa fa-long-arrow-left"></span>ما همیشه مشتریانمان را خوشحال نگه می داریم.</li>
								<li><span class="fa fa-long-arrow-left"></span>هدف ما از ایجاد این سایت کمک به شما است</li>
								<li><span class="fa fa-long-arrow-left"></span>شما می توانید بدون اینکه به بیرون بروید از اینجا بهترین محصولات را بخرید</li>
							</ul>
							<!-- End list-items -->
						</div>
						<!-- End Tab -->

						<!-- Start Tab -->
						<div class="tab two">
							<p>    </p>
							<!-- Start single feature -->
							<div class="feature">
									<span class="feature-icon">
										<i class="fa fa-bolt"></i>
									</span>
								<div class="feature-desc">
									<h5>ویژگی اولیه ما</h5>
									<p>با مشتری صادق هستیم</p>
								</div>
							</div>
							<!-- End single feature -->

							<!-- Start single feature -->
							<div class="feature">
									<span class="feature-icon">
										<i class="fa fa-database"></i>
									</span>
								<div class="feature-desc">
									<h5>ویژگی ثانویه ما</h5>
									<p>جنس بهتری به مردم می فروشیم</p>
								</div>
							</div>
							<!-- End single feature -->
						</div>
						<!-- End Tab -->

						<!-- Start Tab -->

						<!-- End Tab -->
					</div>
					<!-- End tab-container -->
				</div>
				<!-- End col-md-6 -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</section>
	<!-- End section-about -->

	<!-- Start section-services -->
	<section id="section-services" class="services-wrap">
		<div class="container">
			<div class="row">
				<!-- Start section-title -->
				<div class="col-md-12 section-title">
					<h3 class="black-border">
						<span class="red-border">سرویس های</span><span class="red-bold"> ما </span>
					</h3>
				</div>
				<!-- End section-title -->

				<!-- Start single Service -->
				<div class="col-md-4 service">
					<div class="icon">
						<i class="fa fa-laptop"></i>
					</div>
					<h4>طراحی سایت</h4>
				</div>
				<!-- End single Service -->

				<!-- Start single Service -->
				<div class="col-md-4 service">
					<div class="icon">
						<i class="fa fa-paint-brush"></i>
					</div>
					<h4>طراحی گرافیک</h4>
</div>
				<!-- End single Service -->

				<!-- Start single Service -->
				<div class="col-md-4 service">
					<div class="icon">
						<i class="fa fa-edit"></i>
					</div>
					<h4>طراحی کاربر پسند</h4>

				</div>
				<!-- End single Service -->

				<!-- Start single Service -->

				<!-- End single Service -->

			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</section>
	<!-- End section-services -->

	<!-- Start section-achievement -->
	<section id="section-achievement" class="achievement-wrap text-center">
		<div class="achievement-overlay"></div>
		<div class="container">
			<div class="row">
				<!-- Start section-title -->
				<div class="col-md-12 section-title">
					<h3 class="white-border">
						<span class="red-border"> دفترچه طلایی </span><span class="red-bold"> ما</span>
					</h3>
				</div>
				<!-- End section-title -->

				<!-- Start achievement-box -->
				<div class="col-md-3 achievement-box">
					<div class="achievement">
						50
						<span>پروژه</span>
					</div>
				</div>
				<!-- End achievement-box -->

				<!-- Start achievement-box -->
				<div class="col-md-3 achievement-box">
					<div class="achievement">
						40
						<span>مقاله</span>
					</div>
				</div>
				<!-- End achievement-box -->

				<!-- Start achievement-box -->
				<div class="col-md-3 achievement-box">
					<div class="achievement">
						50
						<span>مشتریان راضی</span>
					</div>
				</div>
				<!-- End achievement-box -->

				<!-- Start achievement-box -->
				<div class="col-md-3 achievement-box">
					<div class="achievement">
						60
						<span>آموزش ها</span>
					</div>
				</div>
				<!-- End achievement-box -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</section>
	<!-- Start section-achievement -->

	<!-- Start section-contact -->
	<section id="section-contact" class="contact-wrap">
		<div class="container">
			<div class="row">
				<!-- Start section-title -->
				<div class="col-md-12 section-title">
					<h3 class="black-border">
						<span class="red-border">برای ما</span><span class="red-bold"> پیام بگذارید</span>
					</h3>
				</div>
				<!-- End section-title -->

				<!-- Start address-wrap -->
				<div class="col-md-6 address-wrap">
					<!-- Start address-item -->
					<div class="address-item">
							<span class="address-icon">
								<i class="fa fa-mobile"></i>
							</span>
						<div class="address-desc">
							<h4>شماره شتیبانی</h4>
							<p>#</p>
						</div>
					</div>
					<!-- End address-item -->

					<!-- Start address-item -->
					<div class="address-item">
							<span class="address-icon">
								<i class="fa fa-envelope-o"></i>
							</span>
						<div class="address-desc">
							<h4>برای ما ایمیل بفرستید</h4>
							<p>#</p>
						</div>
					</div>
					<!-- End address-item -->

					<!-- Start address-item -->
					<div class="address-item">
							<span class="address-icon">
								<i class="fa fa-map-marker"></i>
							</span>
						<div class="address-desc">
							<h4>دفتر مرکزی مراغه</h4>
							<p>ایران|مراغه</p>
						</div>
					</div>
					<!-- End address-item -->
				</div>
				<!-- End address-wrap -->

				<!-- Start form-wrap -->
				<div class="col-md-6 form-wrap">
					<form id="contact-form" action="#">
						<div class="col-md-12 form-item">
								<span class="input-icon">
									<i class="fa fa-user"></i>
								</span>
							<input id="name" class="form-input" type="text" name="name" placeholder="نام و نام خانوادگی">
						</div>

						<div class="col-md-12 form-item">
								<span class="input-icon">
									<i class="fa fa-envelope-o"></i>
								</span>
							<input id="email" class="form-input" type="email" name="email" placeholder="ایمیل">
						</div>

						<div class="col-md-12 form-item">
								<span class="input-icon">
									<i class="fa fa-pencil-square-o"></i>
								</span>
							<textarea id="message" class="form-input" name="message" cols="30" rows="4" placeholder="متن پیام"></textarea>
						</div>

						<button type="submit" class="form-submit">
							<span class="fa fa-paper-plane-o"></span> ارسال پیام
						</button>
					</form>
					<!-- End form -->
					<div class="success-msg"><p></p></div>
				</div>
				<!-- End form-wrap -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</section>
	<!-- End section-contact -->

	<!-- Start section-footer -->
	<div id="section-footer" class="footer-wrap text-center">
		<div class="container">
			<div class="col-md-12">
<p>تمامی مطالب مطعلق به منصور بدخشان است هرگونه کپی از قالب یا سورس کد پیگرد قانونی دارد</p>
			</div>
		</div>
	</div>
	<!-- End section-footer -->

	<!--========= Js files =========-->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/jquery.jcountdown.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="js/jquery.placeholder.min.js"></script>
	<script src="js/scripts.js"></script>

</body><!-- This template has been downloaded from Webrubik.com -->
</html>
